/* style.css */
body {
  margin: 0;  /* Remove default margins */
  height: 100vh;  /* Full viewport height */
  background-image: url('../images/wooden-floor-background.jpg');
  background-size: cover;  /* Scales to cover entire area */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat;
  display: flex;  /* For centering content */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  text-align: center;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

span.money {
  margin: 0 20px;
}
